*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
}
.f-box{
    border: 2px solid gray;
    padding: 5%;
    width: 70vh;
    border-radius: 45px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    text-align: start;
}
form input{
    height: 49px;
    outline: none;
    border: none;
    margin: 1%;
    border-radius: 18px;
    padding: 4%;
    background: #f6f5ff;
}
form label{
    margin: 4% 15px 1px 20px;
    font-size: 17px;
}
.botn{
    display: flex;
    justify-content: center;
    margin: 25px 1px 16px 3px;
}
.button{
    height: 45px;
    margin: 1%;
    width: 112px;
    text-align: center;
    border-radius: 18px;
    color: white;
    padding: 0%;
    background: #086efc;
}
