{% extends 'main.html' %}
{% load static %}
{% block content %}



<div class="f-box">
  <h1>LOGIN HERE</h1>
  <form action="" method="POST" class="form auth__form">
    {% csrf_token %}
    {% for field in form %}
      <label for="user">{{field.label}}</label>
      {{field}}
    {% endfor %}
      <div class="botn">                       
         <input value="Sign Up" type="submit" class="button" /> 
      </div>
      <div class="inputfield">
        <p>Already have an Account?</p>
        <a href="{% url 'login' %}">Login</a>

        
      </div>
      <br>
      <div class="inputfield">
        
        <a href="{% url 'reset_password' %}">Forget Password?</a>
      </div>
  </form>
</div>


{% endblock content %}